logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup/.idea/libraries/SBT__org_scala_lang_scala_library_2_10_3.xml
